.imagem-abelha {
    width: 70%;
    height: 80%;
    background-image: url(../../../imagens/colmeia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 767px) {
    .imagem-abelha{
        height: 100%;
    }
}