.lista-produtos-abelha__item {
    font-family: "GT-Eest-regular";
    color: #a26c06;

}

@font-face {
    font-family: "GT-Eest-regular";
    src: url(../../../fonts/GT-Eesti-Text-Regular-Italic-Trial.woff2);
}