.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-rodape p {
    margin: 0;
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .container-rodape{
        width: 80%;
    }
    .container-rodape p {
        text-align: center;
    }
}