.rodape {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef3c7;
}

@media screen and (max-width: 767px) {
    .rodape {
        height: 25vh;
    }
}