.img-flor-abelha {
    width: 100%;
    height: 100%;
    background-image: url(../../imagens/bee\ \(2\).png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.link-figura {
    width: 40%;
    height: 80%;
}

@media screen and (max-width: 767px) {
    .link-figura {
        display: none;
    }
}