main {
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    main {
        padding: 0.5rem 0;
    }
}
