.minha-foto {
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../../imagens/minha-foto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
}

@media screen and (max-width: 480px){
    .minha-foto {
        width: 70%;
        height: 90%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .minha-foto {
        width: 50%;
        height: 90%;
    }
}
