.sobre-mim__texto {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4rem;
}

.sobre-mim__texto p {
    font-family: 'Inclusive Sans', sans-serif;
    color: #a26c06;
}

@media screen and (max-width: 480px){
    .sobre-mim__texto {
        padding: 0 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .sobre-mim__texto {
        height: 50%;
    }
}