.container-imagem-e-formulario {
    width: 80%;
    background-color: #fdfde9;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 1px 1px 2px black;
    display: flex;
}

@media screen and (max-width: 767px) {
    .container-imagem-e-formulario {
        width: 76%;
    }
}