.imagem-abelha {
    width: 30%;
    height: 100%;
    background-image: url(../../imagens/flor.png);
    background-size: cover;
    background-position: right center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}