input, textarea {
    width: 95%;
    padding: 5px;
    border: 1px solid #7b7171;
    border-radius: 5px;
}

textarea {
    resize: none;
}

input[type="submit"]{
    width: 50%;
    background-image: linear-gradient(45deg, #fbd24e, #fabe25);
    border: none;
    padding: 5px;
    border-radius: 100px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'GT-Eest-regular';
}

input[type="submit"]:hover {
    outline: 2px solid #7b7171;
    background-color: transparent;
    color: #7b7171;
}

@font-face {
    font-family: 'GT-Eest-regular';
    src: url(../../fonts/GT-Eesti-Text-Regular-Italic-Trial.woff2);
}