legend {
    text-align: center;
    border-bottom: 1px solid #7b7171;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'PPNeueWorld-regular';
    letter-spacing: 3px;
    font-size: 1.2rem;
}

@font-face {
    font-family: 'PPNeueWorld-regular';
    src: url(../../fonts/PPNeueWorld-Regular.otf);
}