.trabalhe-conosco__titulo {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #432405;
    text-shadow: 1px 1.5px 1px #cc9902;
}

@media screen and (max-width: 767px){
    .trabalhe-conosco__titulo {
        font-size: 2rem;
    }
}