.container-descricao-apicultura {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .container-descricao-apicultura{
        width: 100%;
        height: 50%;
    }
}