.imagem-abelha {
    width: 100%;
    height: 100%;
    background-image: url(../../imagens/colmeia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.link-figura {
    width: 70%;;
    height: 80%;
}

@media screen and (max-width: 767px) {
    .imagem-abelha{
        height: 100%;
    }
}