body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'PPNeueWorld-regular';
}

h3 {
    letter-spacing: 2px;
}

@font-face {
    font-family: 'PPNeueWorld-regular';
    src: url(../../../fonts/PPNeueWorld-Regular.otf);
}

