.prod1-img {
    background-image: url(../../imagens/produtos/molde-para-vela1.jpg);
}

.prod1-img:hover {
    background-image: url(../../imagens/produtos/molde-para-vela2.jpg);
}

.prod2-img {
    background-image: url(../../imagens/produtos/recipiente-haxagonal1.jpg);
}

.prod2-img:hover {
    background-image: url(../../imagens/produtos/recipiente-hexagonal2.jpg);
}

.prod3-img {
    background-image: url(../../imagens/produtos/vela-cera-abelha1.jpg);
}

.prod3-img:hover {
    background-image: url(../../imagens/produtos/vela-cera-abelha2.jpg);
    background-position: left;
}

.prod4-img {
    background-image: url(../../imagens/produtos/pote-colmeia1.jpg);
}

.prod4-img:hover {
    background-color: white;
    background-size: contain;
    background-image: url(../../imagens/produtos/pote-colmeia2.jpg);
}

.prod5-img {
    background-image: url(../../imagens/produtos/emissor-eletrico1.jpg);
}

.prod5-img:hover {
    background-image: url(../../imagens/produtos/emissor-eletrico2.jpg);
}

.prod6-img {
    background-size: contain;
    background-color: white;
    background-image: url(../../imagens/produtos/fumigador-grande1.jpg);
}

.prod6-img:hover {
    background-image: url(../../imagens/produtos/fumigador-grande2.jpg);
    background-position: left;
}

.prod7-img {
    background-image: url(../../imagens/produtos/polen1.jpg);
}

.prod7-img:hover {
    background-image: url(../../imagens/produtos/polen2.jpg);
    background-size: contain;
    background-color: white;
}

.prod8-img {
    background-size: contain;
    background-color: white;
    background-image: url(../../imagens/produtos/bandeja-polen1.jpg);
}

.prod8-img:hover {
    background-image: url(../../imagens/produtos/bandeja-polen2.jpg);
}

.prod9-img {
    background-size: contain;
    background-color: white;
    background-image: url(../../imagens/produtos/pote-ceramica1.jpg);
}

.prod9-img:hover {
    background-image: url(../../imagens/produtos/pote-ceramica2.jpg);
}


.prod10-img {
    background-size: contain;
    background-color: white;
    background-image: url(../../imagens/produtos/macacao-apicultor1.jpg);
}

.prod10-img:hover {
    background-image: url(../../imagens/produtos/macacao-apicultor2.jpg);
}

.prod11-img {
    background-position: right;
    background-image: url(../../imagens/produtos/cera-abelha1.jpg);
}

.prod11-img:hover {
    background-image: url(../../imagens/produtos/cera-abelha2.jpg);
}

.prod12-img {
    background-size: contain;
    background-color: white;
    background-image: url(../../imagens/produtos/pote-gres1.jpg);
}

.prod12-img:hover {
    background-image: url(../../imagens/produtos/pote-gres2.jpg);
}


