.prod1-img {
    background-image: url(../../imagens/produtos/molde-para-vela1.jpg);
}

.prod1-img:hover {
    background-image: url(../../imagens/produtos/molde-para-vela2.jpg);
}

.prod2-img {
    background-image: url(../../imagens/produtos/recipiente-haxagonal1.jpg);
}

.prod2-img:hover {
    background-image: url(../../imagens/produtos/recipiente-hexagonal2.jpg);
}

.prod3-img {
    background-image: url(../../imagens/produtos/vela-cera-abelha1.jpg);
}

.prod3-img:hover {
    background-image: url(../../imagens/produtos/vela-cera-abelha2.jpg);
    background-position: left;
}

.prod4-img {
    background-image: url(../../imagens/produtos/pote-colmeia1.jpg);
}

.prod4-img:hover {
    background-image: url(../../imagens/produtos/pote-colmeia2.jpg);
}

.prod5-img {
    background-image: url(../../imagens/produtos/emissor-eletrico1.jpg);
}

.prod5-img:hover {
    background-image: url(../../imagens/produtos/emissor-eletrico2.jpg);
}

.prod6-img {
    background-image: url(../../imagens/produtos/fumigador-grande1.jpg);
}

.prod6-img:hover {
    background-image: url(../../imagens/produtos/fumigador-grande2.jpg);
    background-position: left;
}

.prod7-img {
    background-image: url(../../imagens/produtos/fumigador-grande1.jpg);
}

.prod7-img:hover {
    background-image: url(../../imagens/produtos/fumigador-grande2.jpg);
    background-position: left;
}

.prod6-img {
    background-image: url(../../imagens/produtos/fumigador-grande1.jpg);
}

.prod6-img:hover {
    background-image: url(../../imagens/produtos/fumigador-grande2.jpg);
    background-position: left;
}
.prod11-img {
    background-image: url(../../imagens/produtos/cera-abelha1.jpg);
}

.prod11-img:hover {
    background-image: url(../../imagens/produtos/cera-abelha2.jpg);
}


