.container-slider {
        display: flex;
        background-color: #fdfde9;
        border-radius: 10px;
        width: 70%;
        height: 50%;
        align-items: center;
        justify-content: space-around;
}